@page "/"

<PageTitle>Home</PageTitle>

<h1>Katy (Anton)</h1>
<p>
    C# programmer.
    Software enginering student.
    The main fan of <a href="https://band.link/STAERF" target="_blank">staerf</a>.
</p>
<h2>Technologies</h2>

<ul>
    <li><code><span class="keyword">ASP.NET</span></code></li>
    <li>Blazor</li>
    <li>PowerShell</li>
</ul>

<LanguagesCard />
<ProjectsCard />


<h2>My links</h2>
<ul class="flex flex-row flex-wrap">
    @foreach (var link in _links)
    {
        <li>
            <a href="link.Link" class="flex flex-row border dark:border-bg-4-dark">

                <div class="p-1 dark:bg-bg-2 min-w-6">

                </div>
                <div class="p-1 dark:bg-bg-h-dark">
                    @link.Name
                </div>
            </a>
        </li>
    }
</ul>

@code {

    (string Name, string Link)[] _links = [
    ("GitLab", "https://Gitlab.com/Katy248")
    ];
}
