<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png"
        href="https://gravatar.com/avatar/33396cb6c169b7fa08fafb345653aee268e9e618fda5de8b2bf9889d0413ea2e?size=32" />
    <HeadOutlet />
</head>
<body class="min-h-screen flex flex-grow">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
