@inject DataStore DS

<article>
    <h3>
        My links
    </h3>
    <div class="flex flex-row flex-wrap gap-3">
        @foreach (var link in DS.Links)
        {
            <a class="flex underline text-purple dark:text-purple-dark" href="@link.Url">
                @link.Name
            </a>
        }
    </div>

</article>
