@inject DataStore DS
<article>
    <h3>Projects</h3>
    <ul>
        @foreach (var proj in DS.Projects.Take(3))
        {
            <li class="my-5">
                <h4 class="text-blue dark:text-blue-dark"> @proj.Name</h4>
                <p>@((MarkupString)proj.SmallDescription)</p>
                @if (!string.IsNullOrWhiteSpace(proj.Link))
                {
                    <a class="text-sm" href="@proj.Link">link -></a>
                }
            </li>
        }
    </ul>
    <div>
        <NavLink href="/projects">More projects...</NavLink>
    </div>
</article>
