@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-fg-1 dark:text-fg-1-dark;
    @apply transition-all duration-200;
}

body {
    @apply bg-bg dark:bg-bg-dark;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
code,
li,
ul {
    @apply my-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-fg dark:text-fg-dark
}

h1 {
    @apply text-3xl mb-3 font-semibold text-center;
}

h2 {
    @apply text-2xl mb-3;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

p {
    @apply mt-2 mb-3;
}

article {
    @apply p-2 m-1 rounded-lg border border-fg-4 dark:border-fg-4-dark bg-bg-1 dark:bg-bg-1-dark;
}

code {
    @apply px-1 inline-block bg-bg-1 border-bg-2 border rounded dark:bg-bg-1-dark dark:border-bg-2-dark;
}

code .keyword {
    @apply text-green dark:text-green-dark;
}

a>code {
    @apply text-red dark:text-red-dark underline;
}

button {
    @apply p-2 px-5 dark:bg-bg-4-dark dark:hover:bg-bg-3-dark rounded-md;
}

a {
    @apply text-orange dark:text-orange-dark
}


/* html {
    --bg_h: #f9f5d7;
    --bg: #fbf1c7;
    --bg_s: #f2e5bc;
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;

    --fg: #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;

    --red: #9d0006;
    --green: #79740e;
    --yellow: #b57614;
    --blue: #076678;
    --purple: #8f3f71;
    --aqua: #427b58;
    --orange: #af3a03;
    --gray: #928374;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458598;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --orange-dim: #d65d0e;
    --gray-dim: #7c6f64;

}

html.dark {
    --bg_h: #1d2021;
    --bg: #282828;
    --bg_s: #32302f;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #928374;
    --orange: #fe8019;

    --red-dim: #cc2412;
    --green-dim: #98971a;
    --yellow-dim: #d79921;
    --blue-dim: #458588;
    --purple-dim: #b16286;
    --aqua-dim: #689d6a;
    --gray-dim: #a89984;
    --orange-dim: #d65d0e;
} */
