@inherits LayoutComponentBase



<div class="flex flex-col-reverse sm:flex-col flex-grow">
    <header class="sticky sm:top-0 bottom-0">
        <NavMenu />
    </header>

    <main class="flex-grow flex flex-col p-2">
        @Body
    </main>
</div>
