@inherits LayoutComponentBase



<div class="flex flex-col-reverse sm:flex-col flex-grow">
    <header>
        <NavMenu />
    </header>

    <main class="flex-grow flex flex-col p-2">
        @Body
    </main>
</div>
