<nav
    class="flex flex-row gap-8 p-4 flex-wrap bg-bg-1 dark:bg-bg-1-dark drop-shadow-xl shadow-bg-s dark:shadow-bg-h-dark">
    @foreach (var link in _links)
    {
        <NavLink href="@link.Link"
            class="block p-2 rounded flex-grow sm:flex-grow-0 text-end hover:text-orange-dim dark:hover:text-orange-dim-dark dark:hover:bg-bg-2-dark">
            @link.Display
        </NavLink>
    }
</nav>
@code {
    private (string Link, string Display)[] _links =
    [
    @* ("", "Katy"), *@
("/", "[ Main page ]"),
("/projects", "[ Projects ]"),
("/weather", "[ Weather ]"),
];
}
